* {
  box-sizing: border-box;
}

body, html {
  font-size: 18px
}

#logo-nav {
  background-color: #8ecae6;
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  font-family: fantasy;
  border: 2px solid;
  text-decoration: none;
  text-align: center;
  padding: 2px;
}

h1 {
  color: darkblue;
  background-color: #8ecae6;
  font-size: 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p1 {
  font-family: fantasy;
  color: darkblue;
}

.pimg {
  background-color: greenyellow;
  height: 100px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: #8ecae6;
  padding: 5px;
  border: 2px solid black;
}

.subtitle {
  color: darkblue;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}